<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="form" action="#" method="GET">
                <input class="search-input" autocomplete="off" type="search" name="q" placeholder="Buscar productos, marcas y más " aria-label="Buscador">
                <svg class="svg-buscar">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>       
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
        <main class="main-register">
        <div class="register">
            <form class="form-register" action="/home" method="GET">
            <div class="table-register">
                <div class="input-regl-register">
                <input class="input-login" required maxlength="50" minlength="3" type="text" name="name" placeholder="Nombre y apellido">
                </div>
                <div class="input-regl-register">                
                <input class="input-login" required maxlength="50" minlength="3" type="text" name="user" placeholder="Nombre de usuario">
                </div>
                <div class="input-regl-register">
                    <input class="input-login" required maxlength="50" minlength="3" type="email" name="email" placeholder="E-mail">
                </div>
            </div>            
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <div class="table-register">
                <div class="input-birthdate-regl-register">
                    <input required class="input-login" type="date" name="birth_date" id="birth_date">
                </div>
            </div>
            <div class="table-register">
                <div class="input-address-regl-register">
                <input required maxlength="50" minlength="3" class="input-login" type="text" name="addres" placeholder="Domicilio">
                </div>
            </div>
            <div class="table-register-checkbox">
                <h4 class="h4-register-class">Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label  for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label  for="sell">Vendedor</label>
                </div>
            </div>
            <div class="table-register-checkbox">                
                <h4 class="h4-register-class">Intereses</h4>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
            </div>
                <div class="table-register-checkbox">    
                <h4 class="h4-register-class">Elegí tu foto de usuario</h4>
                    <input required class="input-login" type="file" name="avatar">
                </div>
                <div class="table-register-password">
                    <input required maxlength="50" minlength="3" class="input-login" type="password" name="pass" placeholder="Elegí tu contraseña">
                    <input required maxlength="50" minlength="3" class="input-login" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                </div>
                <div class="table-register">
                    <div class="table-button-container">
                        <div class="table-button-container-ind">
                        <input class="button-register" type="submit" value="Enviar">
                    </div>
                    <div class="table-button-container-ind">
                        <input class="button-register" type="reset" value="Borrar">
                    </div>
                    </div>
                </div>
            </div>                
            </form>
        </div>
        </main>
        <footer>
            <div class="div-footer">
            <section class="section-footer">
                <div class="footer-icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3 class="h2-footer">Paga con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="section-footer">
                <div class="footer-icon">
                    <i class="fas fa-gift"></i>
                </div>
                <h3 class="h2-footer">Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="section-footer">
                <div class="footer-icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3 class="h2-footer">Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
            <section class="section-footer">
                <p style="text-align: left;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>